<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user.first_name %></h1>
    <p>
      You have successfully created a new Project, <%= @project.title %><br />
    </p>
    <p>
      To manage details of the project and invite new people, follow this line: <%= project_url(@project) %>.
    </p>
    <p>Thanks for using Project Tracking and happy Tracking</p>
  </body>
</html>