<div class="row">
  <%= render partial: "products/short_list", locals: { type: "Apparel", index: 1 } %>
  <%= render partial: "products/short_list", locals: { type: "Luggage", index: 2 } %>
  <%= render partial: "products/short_list", locals: { type: "Cutlery", index: 3 } %>
  <div class="col-md-6 apparel-featured" style="display:none;">
    <p>Featured Apparel Product</p>
  </div>  
</div>
