<div class="row">
  <%= render partial: "products/short_list", locals: { type: "Apparel" } %>
  <%= render partial: "products/short_list", locals: { type: "Luggage" } %>
  <%= render partial: "products/short_list", locals: { type: "Cutlery" } %>
  <div class="col-md-6 apparel-featured" style="display:none;">
    <p>Featured Apparel Product</p>
  </div>  
</div>
