<div class="row">
  <div class="col-md-offset-2">
  <h1>Welcome to the Simple Store</h1>
  <% if flash[:notice] %>
    <div class="alert alert-warning">
      <p><%= flash[:notice] %></p>
    </div>
  <% end -%>
    <%#= image_tag @catalog.images.first.image_url(:featured) %> 
    <br />
    <% if user_signed_in? %>
      <%= render partial: "products/types_in_a_row" %>
    <% else -%>
      <p>While we work on building our catalog, please <%= link_to "sign up", new_user_registration_path %></p>
      <br />
      <p>If you already have an account, please <%= link_to "Sign In", new_user_session_path %></p>
    <% end -%>
  </div>
</div>