<div class="page-header">
  <h1>Welcome to the Simple Store</h1>
  <p>We are under construction. While we work on building our catalog, please <%= link_to "sign up", new_user_registration_path %></p>
  <br />
  <p>If you already have an account, please <%= link_to "Sign In", new_user_session_path %></p>
</div>