<div class="alert alert-success">
  <p id="notice">
    <%= notice %>
  </p>
</div>

<%= @catalog.name %>
<br />
<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
